* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
	outline: 0;
}

html {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

body {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 24px;
	background-color: #fafafa;
	color: #505050;
}

/********** Font Smoothing *******************/
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#about, #header, footer {
	color: #fff;
}

section, footer {
	padding: 5%;
}

#about {
	background-color: #ff3300;
	padding-top: 300px;
	padding-bottom: 20px;
}

#header, footer, #menu {
	background: url('img/black_pattern04.jpg');
}

header > i {
	float: right;
}

header p {
	font-family: 'Fredoka One', cursive;
}

#menu {
	position: absolute;
	left: 0;
	right: 0;
	top: 7.75%;
	line-height: 28px;
}

.nav {
	display: none;
}

.icon {
	color: #fff;
}

.icon:hover {
	color: #99FF33;
}

footer ul, #portfolio, #services {
	text-align: center;
}

footer li {
	display: inline-block;
	margin: 0 1.25%;
}

.gohome {
	position: relative;
	display: inline-block;
}

#contact h2 {
	font-family: 'Fredoka One', cursive;
}

.title {
	font-family: 'Fredoka One', cursive;
	display: inline-block;
	padding: 1.5%;
	border-radius: 5px;
	background-color: #ff3300;
	color: #fff;
	border-bottom: 3px outset #ff0000;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	text-align: justify;
}

#wrap {
	position: relative;
	margin: 2.5% auto;
	cursor: pointer;
	height: 400px;
	width: 660px;
	border: 2px solid #fafafa;
}

#wrap a {
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}

#spinner {
	-moz-box-shadow: inset 0px 0px 0px -1px #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px -1px #ffffff;
	box-shadow: inset 0px 0px 0px -1px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #ededed;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	text-indent: -1.3px;
	border: 2px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: 'Fredoka One', cursive;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 45px;
	line-height: 0px;
	width: 130px;
	text-decoration: none;
	text-align: center;
	text-shadow: 2px 1px 0px #ffffff;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

#spinner:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

#spinner:active {
	position:relative;
	top: 1px;
}

svg {
	fill: currentColor;
}

@media screen and (max-width: 640px) {

	body {
		font-size: 18px;
		line-height: 28px;
	}	

	h1 {
		font-size: 2.5em;
	}

	p {
		font-size: 1.25em;
	}

	#menu {
		top: 10.41%;
		line-height: 30px;
	}

	#wrap {
		width: 495px;
		height: 300px;
	}
}