@font-face {
	font-family: 'Nevis';
	src: url('../nevis.ttf');
}

@font-face {
	font-family: 'Sosa';
	src: url('../sosa-regular-webfont.ttf');
}

body {
	background-color: #fafafa;
	color: #505050;
	font-family: 'Kreon', serif;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#header {
	padding: 5%;
}

#header, #contact, nav {
	background-image: url('../img/black_pattern04.jpg');
	background-repeat: repeat-x;
	color: #fff; 
}

#header h1, #header p, button, #contact h2, nav, #nav{
	font-family: 'Nevis', sans-serif;
}

#header h1, .icon, #contact h2 {
	color: #fff;
}

#header i {
	display: none;
}

#header p {
	font-size: 24px;
}

#nav {
	text-align: center;
	font-size: 20px;
	background-image: url('../img/black_pattern04.jpg');
	background-repeat: repeat-x;
	padding: 15px;
	border-top: 1px solid white;
}

nav {
	display: none;
	position: absolute;
	left: 0;
	right: 75%;
}

#about {
	background-color: #00CCFF;
	/*background: url('../img/code.png');
	background-size: contain;*/
	padding: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	text-align: center;
}

#about p {
	text-align: justify;
	font-size: 24px;
}

#about img {
	display: inline-block;
	border: 5px solid white;
	margin-bottom: 10px;
}

.fa-lightbulb-o:before, .fa-compass:before, .fa-tachometer:before {
	font-size: 150px;
}

#portfolio {
	text-align: center;
}

.icon:hover, a:hover {
	color: #99FF33;
}

svg {
	fill: currentColor;
}

#wrap {
	position: relative;
	margin: 2.5% auto;
	cursor: pointer;
	height: 400px;
	width: 600px;
	border: 2px solid #fafafa;
}

#wrap a {
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}

#wrap p {
	display: none;
	position: absolute;
	left: 0;
	right: 0.5%;
	top: 50%;
	height: 50%;
	padding: 15px;
	text-align: justify;
	color: #fff;
	line-height: 22px;
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
	text-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style: none;
}

#contact {
	padding: 10px;
	line-height: 24px;
}

#contact ul, #services{
	text-align: center;
}

#contact li {
	display: inline-block;
	margin: 2% 2% 0 2%;
}

#services {
	padding: 50px 0;
}

#services li {
	border: 3px solid #505050;
	padding: 20px;
	background-color: #FFFFEC;
	height: 375px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

#services p {
	font-size: 18px;
	font-weight: 700;
}



@media screen and (max-width: 640px) {

	html {
		width: 640px;
	}
	#header {
		padding: 2%;
	}
	#header p {
		font-size: 20px;
	}
	.fa-navicon:before {
		font-size: 50px;
	}
	#about {
		padding-top: 150px;
	}
	#about p {
		font-size: 18px;
	}
	#wrap {
		height: 300px;
		width: 450px;
	}
	#nav {
		display: none;
	}
	#header i {
		display: inline-block;
		float: right;
	}
	.fa-lightbulb-o:before, .fa-compass:before, .fa-tachometer:before {
		font-size: 100px;
	}
	#services {
		padding: 10px 0px;
	}
	#services li {
		padding: 10px;
		margin: 30px auto;
		height: 250px;
		width: 350px;
		font-size: 20px;
	}
	#services li:last-child {
		margin-bottom: 0;
	}
	#contact .icon {
		font-size: 35px;
	}
	#contact {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 640px) and (max-width: 768px) {

	.fa-lightbulb-o:before, .fa-compass:before, .fa-tachometer:before {
		font-size: 125px;
	}
	#services {
		padding: 10px 50px;
	}
	#services li {
		padding: 10px;
		margin: 30px auto;
		height: 300px;
		width: 350px;
		font-size: 20px;
	}
	#services li:last-child {
		margin-bottom: 0;
	}
	#services p {
		font-size: 18px;
		font-weight: 700;
	}
	#wrap {
		height: 300px;
		width: 450px;
	}
	#contact .icon {
		font-size: 35px;
	}
	#contact {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

	#nav {
		font-size: 24px;
	}
	#services {
		padding: 10px 50px;
	}
	#services li {
		padding: 10px;
		margin: 30px auto;
		height: 300px;
		width: 500px;
		font-size: 20px;
	}
	#services li:last-child {
		margin-bottom: 0;
	}
}

